sample file.html
pokedexdb
pokedb.sqlite3
pogo.sqlite3
metadb.sqlite3
info.sqlite3
guilds.sqlite3
customdb.sqlite3
animedb.sqlite3
stats.sqlite3
.vscode/settings.json
debug
understanding.txt
private.tcl
